@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply min-h-full;
  background-color: whitesmoke;
  background-image: url("https://tailwindcss.com/_next/static/media/docs@tinypng.d9e4dcdc.png");
  background-repeat: no-repeat;
  background-size: auto;
}
